BOT_TOKEN=*your bot_token*


DB__USER=
DB__PASSWORD=
DB__NAME=
DB__HOST=127.0.0.1
DB__PORT=5432

CHANNEL_ID=

GSAPI__ID=


GSAPI__SERVICE_KEY='{
  "type": "service_account",
  "project_id": "" ,
  "private_key_id": "",
  "private_key": "",
  "client_email": "",
  "client_id": "",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/sgpadminbot%40stunning-ruler-343701.iam.gserviceaccount.com"
}'