

BOT_TOKEN =

DB__POSTGRES_USER=admin
DB__POSTGRES_PASSWORD=admin
DB__POSTGRES_DB=store
DB__POSTGRES_HOST=db
DB__POSTGRES_PORT=5432


CHANNEL_ID =

GSAPI_ID = 1Pqy34bJIJgvee3K4CxChZq_i0I8BwBqWFDcWd6pCDIo
GSAPI_SERVICE_KEY = '{
  "type": "service_account",
  "project_id": "stunning-ruler-343701",
  "private_key_id": "",
  "private_key": "",
  "client_email": "",
  "client_id": "",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": ""
}
'
